{% extends "core/news_base.html" %}
{% load static %}

{% block title %}{{ news.news_title }}{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/news.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <h1><strong>{{ news.news_title }}</strong></h1>
    <div class="news_img">
      <img class="news_img" src="{{ news.news_image.url }}" alt="Картинка к новости" vspace="10"></img>
    </div>
    <p class="news-pub_date">Дата публикации: {{ news.pub_date }}</p>
    <p>{{ news.news_text }}</p>
  </div>
{% endblock %}
